.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

button {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  background-color: aquamarine;
  border-radius: 5px;
}

.cards-container {
  display: flex;
  /* background-color: gray; */
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}